body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: fit-content;
    text-align: center;
    margin-bottom: 2rem;
}
.formulario{
    width: 100%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.elemento{
    margin-top: 1rem;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    h2{
        color: orange;
        text-align: center;
    }
}
.facturacion{
    h3{
        color: rgb(255, 62, 62);
        text-align: center;
    }
}
#factura{
    display: block;
}
#warning{
    color: red;
    text-align: center;
}
#siFacturo{
    display: none;
    br{
        display: block;
    }
}
#id2{
    display: none;
}
span{
    padding: 1rem;
    border: 2px solid #e0e0e0;
    display: block;
}
#registrar{
    background-color: #81460a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    &:hover{
        background-color: #815930;
    }
}
footer{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
.error{
    background-color: red;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
}
.exito{
    background-color: rgb(0, 173, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
}