@font-face { 
    font-family: mincho-medium; 
    src: url('../font/ShipporiMinchoB1-Medium.ttf') format('truetype'); 
} 

@font-face { 
    font-family: mincho-regular; 
    src: url('../font/ShipporiMinchoB1-Regular.ttf') format('truetype'); 
} 

h1, p, form, h2 {
    text-align: center;
}

h1 {
    font-family: mincho-medium;
    font-size: 2em;
    margin-bottom: 2rem;
}

a{
    margin-bottom: 20rem;
}

body {
    font-family: mincho-regular;
    background-color: azure;
    margin: auto;
    opacity: 0;
    transition: opacity .5s;
}

.gato {
    max-width: 100%;
    max-height: 100%;
}
#arrow{
    text-align: left;
}